    <table>
        <thead>
            <tr>
                <th width="20%">ID</th>
                <th width="40%">Translation</th>
                <th width="40%">Additional Information</th>
            </tr>
        </thead>
        <tbody>
            {% for id, message in messages %}
            <tr>
                <td><abbr title="{{ id }}">{{ id|truncate(20) }}</abbr></td>
                <td>
                    <textarea data-id="{{ id }}" class="span6"{% if isWriteable is sameas(false) %} readonly="readonly"{% endif %}>{{ message.localeString }}</textarea></td>
                <td>
                    {% if alternativeMessages[id] is defined %}
                        <h6>Alternative Translations</h6>
                        {% for locale, altMessage in alternativeMessages[id] %}
                        <p>
                            <strong>{{ locale }}:</strong> {{ altMessage.localeString }}
                        </p>
                        {% endfor %}
                    {% endif %}
                    
                    {% if message.sources|length > 0 %}
                        <h6>Sources</h6>
                        <ul>
                        {% for source in message.sources %}
                            <li>{{ source }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No messages found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
